[package]
name = "dataclod-bin"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[lints]
workspace = true

[features]
console = ["common-telemetry/console"]

[dependencies]
common-telemetry.workspace = true
mimalloc = "0.1"
server.workspace = true
tokio.workspace = true

[dev-dependencies]
rusky = "0.2.1"

[[bin]]
name = "dataclod-core"
path = "core/main.rs"
